<nav>
  <div class="container-fluid text-center p-3">
    <div class="row">
      <h4 class="col-2 text-end link" (click)="goTo('main')">Brainwave.io</h4>
      <div class="col-1 link">Demos</div>
      <div class="col-1 link">Pages</div>
      <div class="col-1 link">Support</div>
      <div class="col-1 link" (click)="goTo('contact')">Contacts</div>
      <div class="col link">
        <button type="button" class="btn btn-primary">Get started a project</button>
      </div>
    </div>
  </div>
</nav>
