<div class="container d-flex align-items-center justify-content-center">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="row my-4">
        <div class="red-text"> Our Story</div>
      </div>
      <div class="row  my-4">
        <div class="col wrapper">
          <h5 class="bold typing-text" >
            We know how everything works and why your business is failing over and over again.
          </h5>
        </div>
      </div>
      <div class="row rotate">
        <img src="assets/our-story1.png" alt="" class="img-fluid" style="height: 20rem;width: 18rem">
      </div>
    </div>
    <div class="col-md-6 align-items-end d-flex justify-content-center">
      <div class="row">
        <div class="col-md-5">
          <div class="row rotate" >
            <img src="assets/our-story2.png" alt="" class="img-fluid" style="height: 14rem">
          </div>
        </div>
        <div class="col align-items-center d-flex justify-content-center">
          <div class="row rotate">
            <img src="assets/our-story3.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-end d-flex justify-content-center px-4" style="height: 10rem;">
          We share common trends and strategies for improving your rental income and making sure you stay in high
          demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
        </div>
      </div>
    </div>


  </div>
</div>
<div class="pt-5">
  <div class="row justify-content-md-center ">
    <div class="col-md-3"><h3 class="align-items-end d-flex justify-content-center my-3 animated-text">1M+</h3>
      <div class="row text-center" >Customers visit Omega every month to get their service done.</div>
    </div>
    <div class="col-md-3"><h3 class="align-items-end d-flex justify-content-center my-3  animated-text">92%</h3>
      <div class="row  text-center">Satisfaction rate comes from our awesome customers.</div>
    </div>
    <div class="col-md-3"><h3 class="align-items-end d-flex justify-content-center my-3  animated-text">4.9/5.0</h3>
      <div class="row  text-center">Average customer ratings we have got all over internet.</div>
    </div>
  </div>
</div>
